<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewBag.Title - HK Systems Calculations</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-M2fY1NxqFDU1z2hXQ4Vw6EhFZxKkLw5u/wVFmPhZ3eA/OtODim2sxMsiWZYitbWT" crossorigin="anonymous">
  <!-- Hoja de estilos personalizada -->
  <link rel="stylesheet" href="~/css/site.css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/">HK Systems</a>
    </div>
  </nav>
  <div class="container">
    @RenderBody()
  </div>
  <footer class="footer">
    <div class="container">
      <span>© 2025 HK Systems. Todos los derechos reservados.</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
          integrity="sha384-DfXdF4ph6XGjaHpu5/HJKP5nuC0x1Jrv0HnFX6d1C6KJkdKbhS/7MAt4c6xZLKVQ" 
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
          integrity="sha384-9/reFTGAW83EW2RDuawC3e0/dfpLkEzf/x8coVg2cTVDwoDpl4F8ZrF59oT10l7B" 
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
          integrity="sha384-B4gt1jrGC7Jh4AgOQnXQ6v4NExwusN+xyhPpocqDIlGY32fWSlrS9Cd2d3du0Pih" 
          crossorigin="anonymous"></script>
</body>
</html>
